{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": [
    "require-path-exists",
    "promise"
  ],
  "rules": {
    "no-console": 1,
    "no-alert": 1,
    "no-debugger": 1,
    "promise/catch-or-return": 1,
    "promise/always-return": 1,
    "no-process-env": "error",
    "no-process-exit": "error",
    "lines-between-class-members": "warn",
    "no-case-declarations": "warn",
    "prefer-const": "warn",
    "object-curly-newline": "warn",
    "quote-props": "warn",
    "no-restricted-modules": ["error", {
      "paths": [
        "express",
        "underscore",
        "stream",
        "wire",
        "nconf",
        "superagent",
        "errno",
        "marko",
        "moment",
        "ut-front/react",
        "lodash",
        "ut-codec",
        "ut-identity",
        "ut-permission"
      ]
    }],
    "indent": ["error", 4, {"SwitchCase": 1, "ignoredNodes": [ "JSXAttribute", "JSXSpreadAttribute"]}],
    "semi": ["error", "always"],
    "object-curly-spacing": "off",
    "space-before-function-paren": ["error", "never"],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": [1, 4],
    "require-path-exists/notEmpty": 2,
    "require-path-exists/tooManyArguments": 2,
    "require-path-exists/exists": 0,
    "no-restricted-properties": ["error", {
      "object": "when",
      "property": "defer"
    }],
    "react/no-unused-prop-types": 1
  },
  "globals": {
    "isc": true
  }
}
