{
  "extends": ["standard", "standard-react"],
  "plugins": [
    "require-path-exists",
    "no-require-lodash",
    "promise",
    "disallow-methods"
  ],
  "rules": {
    "no-console": 1,
    "no-alert": 1,
    "no-debugger": 1,
    "promise/catch-or-return": 1,
    "promise/always-return": 1,
    "no-process-env": 2,
    "no-process-exit": 2,
    "no-restricted-modules": [2, "express", "underscore", "stream", "wire", "nconf", "superagent", "errno", "marko", "moment", "ut-front/react", "ut-port-smtp"],
    "indent": [2, 4, {"SwitchCase": 1}],
    "semi": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "react/jsx-indent": 0,
    "require-path-exists/notEmpty": 2,
    "require-path-exists/tooManyArguments": 2,
    "require-path-exists/exists": 0,
    "no-require-lodash/no-require-lodash": 2,
    "disallow-methods/disallow-methods": [2, [
      {
        "object": "when",
        "method": "defer"
      }
    ]]
  },
  "globals": {
    "isc": true
  }
}
